---
layout: default
title: Home
---

<div class="posts">

  <!-- survey banner -->
  {% include survey_banner.html %}
  {% for post in paginator.posts %}

  <div class="post">
    {% if post.layout == "makefile" %}
    <h1 class="makefile-title">
    {% else %}
    <h1 class="post-title">
    {% endif %}
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date: "%m.%d.%y" }} &middot; {% for tag in post.tags %} <span class="langtag"><a href="/archive/#{{tag}}" title="all {{tag}} issues" target="_blank">{{tag}}</a></span> {% endfor %} </span>

    {% if post.layout == "makefile" %}
    <p class="makefile-header"><em>Makefile posts are about my personal projects.</em></p>
    {% endif %}

    {{ post.content }}

    <span style="text-align:center;"><center><i class="fa fa-fw fa-code-fork fa-2x"></i></center></span>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">&laquo;&nbsp;Older</a>
  {% else %}
    <span class="pagination-item older">&laquo;&nbsp;Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer&nbsp;&raquo;</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer&nbsp;&raquo;</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer&nbsp;&raquo;</span>
  {% endif %}
</div>

<div style="text-align:center;padding-top:15px;"><i class="fa fa-copyright" title="Copyright" alt="&copy;"></i> {{ site.time | date: '%Y' }}&nbsp;<a href="http://nealshyam.com" title="Git@Me is written by Neal Shyam" target="_blank">Neal Shyam</a></div>
