<div id="fbc-comment-form" style="display: none;">
  <h4><span class="fbc-comment-count"></span> Comments</h4>
  <div id="fbc-logout" class="btn btn-inverse">Logout</div>
  <textarea id="fbc-comment-message" class="comment-input" rows="8" placeholder="A life lived _without_ `markdown` is a life **half lived** :grinning:"></textarea>
  <div id="fbc-comment-form-submit" class="btn btn-primary">Submit</div>
</div>

<div id="fbc-login-buttons" style="display: none;">
  <h4 class= "comment-login-text"><span class="fbc-comment-count"></span> Comments &middot; Log in to join the discussion</h4>
  <div class="comment-login-buttons">
    <span data-auth-provider="google" class="btn shareg"><i class="fa fa-fw fa-google"></i> Google</span>
    <span data-auth-provider="facebook" class="btn sharef"><i class="fa fa-fw fa-facebook"></i> Facebook</span>
    <span data-auth-provider="twitter" class="btn sharet"><i class="fa fa-fw fa-twitter"></i> Twitter</span>
    <!--<span data-auth-provider="github" class="btn btn-inverse"><i class="fa fa-fw sfa-github-alt"></i> GitHub</span>-->
  </div>
</div>
<div id="fbc-comments-list" style="margin-top:16px;"></div>
