<div class="sidebar">
  <div class="container ">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          Git<span class="header_at_sign">@</span>Me
        </a>
      </h1>
      <span class="lead">{{ site.description }}</span><br>

      <span>subscribe for weekly updates:<br>
            <a href="http://eepurl.com/Dfj51" title="Subscribe to Git@Me's email newsletter" target="_blank">email</a> &middot;
            <a href="http://twitter.com/git_atme" title="Follow Git@Me on Twitter" target="_blank">twitter</a> &middot;
            <a href="{{site.baseurl}}rss.xml" title="Subscribe to Git@Me via RSS" target="_blank">rss</a> &middot;
            <a href="http://yogam-nealrs.rhcloud.com/" title="Yo, Git@Me!" target="_blank">yo</i></a>
      </span>

      <form class="">
        <input type="text" id="st-search-input" class="emailinput" placeholder="search">
    </form>

      <!--<a href="#" title=" Search Git@Me" class="social st-search-launcher"><i class="fa fa-fw fa-search fa-2x"></i></a>-->

    <!--<p>
      <a href="/tags" title="Archives by language/tech" target="_blank">Archives</a> &middot; <a href="/about" title="About Git@Me" target="_blank">About</a>
    </p>-->

    </div>
  </div>
</div>
