<div class="sidebar">
  <div class="container ">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          Git<span class="header_at_sign">@</span>Me
        </a>
      </h1>
      <span class="lead">{{ site.description }}</span>

      <form class="subform" action="http://gitat.us7.list-manage.com/subscribe/post?u=c077cf2dc30777ab6e605c7fc&amp;id=e65eebd6a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <span class="signup_prompt">join our newsletter:</span>
          <input type="email" class="emailinput" name="EMAIL" class="form-control" id="appendedInputButton" placeholder="Enter your email & press enter!" required>
          <!--<button type="submit" name="subscribe" class="sub_button ">Subscribe</button>-->
      </form>

    <p style="text-align:center;">
      <a href="mailto:neal@gitat.me" title="Email Git@Me" target="_blank" class="social"><i class="fa fa-fw fa-at fa-2x"></i></a>&nbsp;
      <a href="http://twitter.com/git_atme" title="Follow Git@Me on Twitter" target="_blank" class="social"><i class="fa fa-fw fa-twitter fa-2x"></i></a>&nbsp;
      <a href="{{site.baseurl}}rss.xml" title="Subscribe to Git@Me via RSS" target="_blank" class="social"><i class="fa fa-fw fa-rss fa-2x"></i></a>&nbsp;
      <a href="http://github.com/nealrs/gitatme" title="Git@Me IS open source" target="_blank" class="social"><i class="fa fa-fw fa-github fa-2x"></i></a>&nbsp;
      <a href="http://yogam-nealrs.rhcloud.com/" title="Yo, Git@Me!" target="_blank" class="social"><i class="fa fa-fw fa-square fa-2x"></i></a>
    </p>

    <!--<p>
      <a href="/tags" title="Archives by language/tech" target="_blank">Archives</a> &middot; <a href="/about" title="About Git@Me" target="_blank">About</a>
    </p>-->

    </div>
  </div>
</div>
