<div class="sidebar">
  <div class="container ">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <span style="margin-bottom:.5rem;" class="lead">{{ site.description }}</span>

      <span style="margin-bottom:.5rem;" class="lead"><form class="subform" action="http://gitat.us7.list-manage.com/subscribe/post?u=c077cf2dc30777ab6e605c7fc&amp;id=e65eebd6a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <em>sign up for our newsletter:</em>
          <input type="email" class="emailinput" name="EMAIL" class="form-control" id="appendedInputButton" placeholder="Enter your email & press enter!" required>
          <!--<button type="submit" name="subscribe" class="sub_button ">Subscribe</button>-->
      </form></span>

    <!--<p>written by <a href="http://nealshyam.com" target="_blank" title="written by Neal Shyam">Neal</a></p>-->

    <p>
      <a href="mailto:neal@gitat.me" title="Email Git@Me" target="_blank" class="social"><i class="fa fa-fw fa-at fa-2x"></i></a>&nbsp;&nbsp;
      <a href="http://twitter.com/git_atme" title="Follow Git@Me on Twitter" target="_blank" class="social"><i class="fa fa-fw fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
      <a href="{{site.baseurl}}rss.xml" title="Subscribe to Git@Me via RSS" target="_blank" class="social"><i class="fa fa-fw fa-rss fa-2x"></i></a>&nbsp;&nbsp;
      <a href="http://github.com/nealrs/gitatme" title="Git@Me IS open source" target="_blank" class="social"><i class="fa fa-fw fa-github fa-2x"></i></a>
      </p>
    </div>
  </div>
</div>
