<div id="survey_banner">
    <span class="prompt_banner"><a href="https://gitatme.typeform.com/to/eTUARH">Please take my reader survey</a>.</span>
    <span class="close_banner"><i onclick="close_banner()" class="fa fa-times" title="Copyright" alt="X"></i></span>
</div>

<!--<div id="survey_banner">
    <span class="prompt_banner"><a href="http://20js.challengepost.com">Do you &#9829; JavaScript? Enter the 20JS Challenge</a>!</span>
    <span class="close_banner"><i onclick="close_banner()" class="fa fa-times" title="Copyright" alt="X"></i></span>
</div>-->
